//*= require bootstrapValidator.min



.mesa_mixanimata {
	margin-left: 30px;
	font-weight: 500;
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.in {
background: rgba(0, 0, 0, 0.111111);
}






