        <div class="col-md-6 col-xs-6">
            <% @analosima.each do |a| %>
             <h2 id="<%= a.wgr %>" class="123">Αναλώσημα</br>
             <small><%= a.text %></small></h2>
             <%= image_tag(a.image, size: '200') %></br></br>
             
            </br>
            <p>Η εταιρία AFS Federhenn Maschinen GmbH είναι κατασκευαστής μηχανημάτων παραγωγής κουφωμάτων. Με εμπειρία 40 χρόνων, η εταιρία διαθέτει στην παγκόσμια αγορά ποιοτικά μηχανήματα υψηλής τεχνολογίας και αξιοπιστίας. Πάγκοι μονταρίσματος απλοί ή αυτόματοποιημένοι, κέντρα κοπής και κατεργασίας, συστήματα οργάνωσης παραγωγής και ειδικές κατασκευές για την γρήγορη και εύκολη μεταφορά των κουφωμάτων μεταξύ των διαφόρων σταδίων παραγωγής. Σε συνεργασία με την γνωστή εταιρία Hollinger Maschinen GmbH προσφέρει επίσης μηχανές συγκόλλησης και καθαρίσματος προφίλ PVC.</br>
            <a href="http://afs-federhenn.de/site_e/index.html" class="" target="_blank"> AFS-Federhenn</a>
            </p>

            <hr class="">
            <% end %>